body {
    height: 100vh;
    min-height: 100vh;
    min-height: 100%;
    background-image: url("images/tiny.jpg");
    background-size: cover;
    font-family: 'Raleway', sans-serif;
}

h1 {
    text-transform: uppercase;
}

.spacer {
    height: 10vh;
}

.about {
    background-color: #FFF;
    padding: 30px;
}

.about-title {
    font-weight: 700;
    letter-spacing: 5px;
    word-wrap: break-word;
}

.about-text {
    line-height: 1.5rem;
    font-weight: 300;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.title-separator {
    border-top: 10px solid !important;
    width: 50px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.about-email,
.about-email:hover,
.about-email:focus {
    background-color: RGBA(17, 24, 54, 1);
    border-color: RGBA(17, 24, 54, 1);
    font-family: "Courier New";
    display: block;
    margin: 30px auto 0 auto;
}

.about-email {
    color: RGBA(245, 152, 156, 1);
}

.about-email:hover,
.about-email:focus {
    animation-name: email-foreground;
    animation-duration: 0.5s;
    color: RGBA(174, 207, 194, 1);
    outline: none;
}

.copied-popover {
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 0.8rem;
}

.logo-area {
    width: 0;
    height: 0;
    border-bottom: 200px solid #FFF;
    border-left: 200px solid transparent;
    position: fixed;
    bottom: 0;
    right: 0;
}

.logo-area .logo-area-content {
    text-align: center;
    top: 100px;
    left: -90px;
    position: relative;
    width: 75px;
    height: 75px;
}

@keyframes email-foreground {
    from {
        color: RGBA(245, 152, 156, 1);
    }
    to {
        color: RGBA(174, 207, 194, 1);
    }
}